div{
    height: 100px;
    width: 100px;
    border: solid 2px red;
    /* text-align: center; */
    /* border-radius: 10px;*/
    padding:1px 2px 3px 4px;
} 



h1{
    height: 50px;
    width: 200px;
    /* background-color: red;
    border-width: 2px;
    border-style: dashed; */
    text-align: center;
    border: dashed 2px red;
}