/* h1 { 
    color : red;
}

button {
    background-color: green;
    color: white;
}

p {
    color: rgb(33, 33, 46);
}

body {
    background-color: rgb(176, 176, 185);
} */

/* *{
    color :blue;
}  */

/* h1{
    color : greenyellow
} */

button{
    color : rgb(57, 57, 39);
}

#headingone{
    color : rgb(48, 216, 29);
}

#headingtwo{
    color : rgb(194, 170, 172);
}

#headingthree{
    color : rgb(49, 4, 4);
}

p{
    text-align: center;
    
}
h1{
    text-align: center;
    text-decoration: underline;
    
}